<div class="mt-4" style="margin-bottom: 100px;">
      <div style="font-weight: 500; padding:20px 40px 5px">
        <p>
        Trang chủ >
        <span>Thông tin sản phẩm</span>
        </p>
        <h4 class="title"> 
            <i class="fas fa-dragon mr-2"></i>Sản phẩm mới nhất  
            <hr>
        </h4>


    </div>
    <div class="row">
        <div class="col-lg-2">
          <a href="#"  onclick="showImg(this)">
            <img src="{{product.image}}" class="img-show" frameborder="0" style="width: 100% ; height: auto; border: ridge 1px black; margin: 20px;" onclick="getElementById('large-image').src='{{product.image}}'" />

          </a>
          <a href="#"  onclick="showImg(this)">
            <img src="{{product.imageshow1}}"class="img-show" frameborder="0" style="width: 100% ; height: auto; border: ridge 1px black; margin: 20px;" onclick="getElementById('large-image').src='{{product.imageshow1}}'"/>
  
          </a>
          <a href="#"  onclick="showImg(this)">
            <img src="{{product.imageshow2}}" class="img-show"frameborder="0" style="width: 100% ; height: auto; border: ridge 1px black; margin: 20px;" onclick="getElementById('large-image').src='{{product.imageshow2}}'"/>

          </a>
        </div>
        <div class="col-lg-7" >
                <img class="mainImg" src="{{product.image}}" alt="" id="large-image"  style="width: 100%; height: auto;border: ridge 2px black; margin: 20px; " />
        </div>
        <div class="col-lg-3 pl-4" >
            <h1 style="font-size: 50px ; color: black; padding-bottom: 15x;border-bottom: ridge 2px; font-weight: 800;">{{product.name}}</h1>
            <h2 style="margin-bottom: 10px;">Giá: {{product.price}}đ</h2>
            <h2>Mô tả: </h2>
              <h5>{{product.description}}</h5>
            <form action="/cart/{{product._id}}/add-cart" method="GET">
              <h2>Size: </h2>
                <label class="box" id="size">&nbsp;
                  <input type="radio" name="size" id="size" value="S">
                  <span class="checkmark" style="background-color: rgba(0, 0, 0, 0.5);">S</span>
                </label>
                <label class="box">
                  <input type="radio" name="size" id="size" value="M">&nbsp;
                  <span class="checkmark" style="background-color: rgba(0, 0, 0, 0.5);">M</span>
                </label>
                <label class="box">
                  <input type="radio" name="size" id="size" value="L">&nbsp;
                  <span class="checkmark" style="background-color: rgba(0, 0, 0, 0.5);" >L</span>
                </label>
                <label class="box">
                  <input type="radio" name="size" id="size" value="XL">&nbsp;
                  <span class="checkmark" style="background-color: rgba(0, 0, 0, 0.5);">XL</span>
                </label>
              <button class="btn btn-add-cart" style="border: none;margin: 20px 0px; background: #000000; color: #FFFFFF;height: 40px;width: 200px;" type="submit" >Thêm vào giỏ hàng</button>
            </form>
            
        </div>
  </div>
</div>

{{!-- <form name="add-cart-form" method="GET"></form> --}}

{{!-- document.addEventListener('DOMContentLoaded', function () {
    var productId;
    var addCartForm = document.forms['add-cart-form'];
    var addCartBtn = $('.btn-add-cart');
    // Restore btn clicked
    addCartBtn.click(function (e) {
      var productId = $(this).data('id');
      addCartForm.action = '/cart/' + productId + '/add-cart/';
      addCartForm.submit();
    });
  }); --}}
<script>
  
  function showImg(img){
    var mainImg = document.getElementsByClassName('mainImg')[0];
    
    var $$ = document.getElementsByClassName('img-show');
    for (const element of $$) {
      if(element == img){
        mainImg.setAttribute("src", element.src);
        break;
      }
    }
  }
</script>