<div class="container-fluid" style="padding: unset; margin: unset;">

    <section class="slider-section">
        <div class="row" style="margin-top: 2px;">
            <div class="col-6 col-sm-12 ">
                <img src="https://i.pinimg.com/originals/a5/cb/fe/a5cbfe3fcc1932ba364ef3cf75313415.png" alt="ảnh bìa" style="width: 100%;height: auto;" >
            </div>
        </div>
    </section>
    <div style="font-weight: 500; padding:20px 40px 5px">
        <p>
        Trang chủ >
        <span>Sản phẩm</span>
        </p>
        <h4 class="title"> 
            <i class="fas fa-dragon mr-2"></i>Sản phẩm mới nhất  
            <hr>
        </h4>


    </div>

    <div class="content__section">
        <div class="content__title" style="text-align: center; margin-top: 20px; margin-bottom: 20px;">
            <h2 style="font-size: 40px;">TẤT CẢ SẢN PHẨM</h2>
        </div>
    </div>
    {{!-- show sản phẩm --}}
    <div style="margin: 20px 5%;">
        <div class="mt-4" style="padding: 20px;">
            <div class="row p-4">
                {{#each products}}
                <div class="col-sm-6 col-lg-3 p-3">
                    <div class="card card-product-item">
                        <a href="/products/{{this.slug}}">
                            <img class="card-img-top" src="{{this.image}}" alt="{{this.price}}" title="{{this.description}}">
                        </a>
                        <div class="card-body text-truncate">
                            <a href="/products/{{this.slug}}"  style="text-decoration: none; color: #333;">
                                <p class="card-text text-left text-truncate" >
                                    <span class="font-weight-bold">
                                       Sản phẩm: {{this.name}}
                                    </span> <br>    
                                    <span class="font-weight-bold">
                                       Giá: <strong style="color: #17a2b8;">{{this.price}}đ </strong><br> 
                                    </span>
    
                                </p>
                            </a>
                                <span class="lead font-weight-bold text-nowrap" title="{{this.description}}">
                                  {{this.description}}
                                </span>                               

                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>