<div class="frame">
<div class="mt-4">
    <div class="row">
            <div>
                <ul>
                    <li>
                        <span> Trang chủ </span>
                        <span>
                            <i> > </i>
                        </span>
                        <span>
                            <b> Tất cả sản phẩm</b>
                        </span>
                    </li>
                    <li>
                        <div class="anh-bia" > 
                            <img src="/img/products/a.jpg" alt="ảnh bìa" style="    width: 900px;height: auto;"  />
                            <div class="toolbar">
                                <span style="font-size: 18px;font-weight: 700">Tất cả sản phẩm </span>
                                <span>
                                    <a href="">
                                        <span style="font-size: 16px; margin-left: 100px;">Mặc Định</span>
                                    </a>
                                    <a href="">
                                        <span style="font-size: 16px;">A -> Z</span>
                                    </a>
                                    <a href="">
                                        <span style="font-size: 16px;">Z -> A</span>
                                    </a>
                                    <a href="">
                                        <span style="font-size: 16px;">Giá Giảm Dần</span>
                                    </a>
                                    <a href="">
                                        <span style="font-size: 16px;">Giá Tăng Dần</span>
                                    </a>
                                    <a href="">
                                        <span style="font-size: 16px;">Mới Nhất</span>
                                    </a>
                                    <a href="">
                                        <span style="font-size: 16px;">Cũ Nhất</span>
                                    </a>
                                </sapn>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="list">
                            <span>
                                <h2>Danh mục sản phẩm</h2>
                            </span>
                        </div>
                        <div class="list">
                            <UL>
                                <li class="nav-item">
                                    <a href="" title="HÀNG MỚI">HÀNG MỚI
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="" title="ÁO THUN">ÁO THUN
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="" title="ÁO SƠ MI">ÁO SƠ MI
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="" title="ÁO KHOÁC">ÁO KHOÁC
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="" title="QUẦN DÀI">QUÀN DÀI
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="" title="QUẦN SHORT">QUÀN SHORT
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="" title="BOXER">BOXER
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="" title="PHỤ KIỆN">PHỤ KIỆN
                                    </a>
                                </li>
                            </UL>

                        </div>
                    </li>
                    <li>    
                        <div class="list">
                            <h2>Loại</h2>
                            <ul class="filter-group" style="height: 300px;">
                                <li class="item">
                                    <span>
                                        <label for="filter-ao-khoac">
                                            <input type="checkbox" id="filter-ao-khoac" />
                                            ÁO KHOÁC
                                        </label>

                                    </span>
                                </li>
                                <li class="item">
                                    <span>
                                        
                                        <label for="filter-ao-khoac-jean">
                                            <input type="checkbox" id="filter-ao-khoac-jean"/>
                                            ÁO KHOÁC
                                        </label>
                                    </span>
                                </li>
                                <li class="item">
                                    <span>
                                        <label for="filter-ao-len">
                                            <input type="checkbox" id="filter-ao-len"/>
                                            ÁO LEN
                                        </label>
                                    </span>
                                </li>
                                <li class="item">
                                    <span>
                                        <label for="filter-ao-so-mi">
                                            <input type="checkbox" id="filter-ao-so-mi"/>
                                            ÁO SƠ MI
                                        </label>
                                    </span>
                                </li>
                                <li class="item">
                                    <span>
                                        <label for="filter-ao-thun">
                                            <input type="checkbox" id="filter-ao-thun"/>
                                            ÁO THUN
                                        </label>
                                    </span>
                                </li>
                                <li class="item">
                                    <span>
                                        <label for="filter-ao-thun-tay-dai">
                                            <input type="checkbox" id="filter-ao-thun-tay-dai"/>
                                            ÁO THUN TAY DÀI
                                        </label>
                                    </span>
                                </li>
                                <li class="item">
                                    <span>
                                        <label for="filter-ao-thun-tay-ngan">
                                            <input type="checkbox" id="filter-ao-thun-tay-ngan"/>
                                            ÁO THUN TAY NGẮN
                                        </label>
                                    </span>
                                </li>
                                <li class="item">
                                    <span>
                                        <label for="filter-quan-jogger">
                                            <input type="checkbox" id="filter-quan-jogger"/>
                                            QUẦN JOGGER
                                        </label>
                                    </span>
                                </li>
                                <li class="item">
                                    <span>
                                        <label for="filter-quan-kaki">
                                            <input type="checkbox" id="filter-quan-kaki"/>
                                            QUẦN KAKI
                                        </label>
                                    </span>
                                </li>
                                <li class="item">
                                    <span>
                                        <label for="filter-quan-tay">
                                            <input type="checkbox" id="filter-quan-tay"/>
                                            QUẦN TÂY
                                        </label>
                                    </span>
                                </li>
                                <li class="item">
                                    <span>
                                        <label for="filter-quan-jean">
                                            <input type="checkbox" id="filter-quan-jean"/>
                                            QUẦN JEAN
                                        </label>
                                    </span>
                                </li>
                                <li class="item">
                                    <span>
                                        <label for="filter-du">
                                            <input type="checkbox" id="filter-du"/>
                                            DÙ
                                        </label>
                                    </span>
                                </li>
                                <li class="item">
                                    <span>
                                        <label for="filter-gang-tay">
                                            <input type="checkbox" id="filter-gang-tay"/>
                                            GĂNG TAY
                                        </label>
                                    </span>
                                </li>
                                <li class="item">
                                    <span>
                                        <label for="filter-hoodie">
                                            <input type="checkbox" id="filter-hoodie"/>
                                            HOODIE
                                        </label>
                                    </span>
                                </li>
                                <li class="item">
                                    <span>
                                        <label for="filter-mat-kinh">
                                            <input type="checkbox" id="filter-mat-kinh"/>
                                            MẮT KÍNH
                                        </label>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="list">
                            <h2>MÀU SẮC</h2>
                            <label class="box">&nbsp;
                                <input type="checkbox" >
                                <span class="checkmark" style="background-color:red;" ></span>
                              </label>
                              <label class="box">
                                <input type="checkbox">&nbsp;
                                <span class="checkmark" style="background-color: yellow;"></span>
                              </label>
                              <label class="box">
                                <input type="checkbox">&nbsp;
                                <span class="checkmark" style="background-color: green;" ></span>
                              </label>
                              <label class="box">
                                <input type="checkbox">&nbsp;
                                <span class="checkmark" style="background-color: blue;"></span>
                              </label>
                              <label class="box">
                                <input type="checkbox">&nbsp;
                                <span class="checkmark" style="background-color: black;"></span>
                              </label>
                        </div>
                    </li>
                </ul>
            </div>

        


        <!-- END: CONTENT -->

        {{#each products}}
        <div class="col-sm-6 col-lg-4">
            <div class="card card-product-item">
                <a href="/products/{{this.slug}}">
                   <img class="card-img-top" src="{{this.image}}" alt="{{this.price}}">
                </a>
                <div class="card-body">
                    <a href="/products/{{this.slug}}">
                         <h5 class="card-title text-center">{{this.name}}</h5>
                         <p class="card-text text-center">{{this.price}}</p>
                    </a>
                    
                </div>
            </div>
        </div>
        {{/each}}

    </div>
</div>
</div>