<div class="mt-4">
                    <div class="row">
                        {{!-- {{#if products.cateID '==' products.category._id}} --}}
                            {{#each products}}
                                <div class="col-sm-6 col-lg-4">
                                    <div class="card card-product-item">
                                        <a href="/products/{{this.slug}}">
                                        <img class="card-img-top" src="{{this.image}}" alt="{{this.price}}">
                                        </a>
                                        <div class="card-body">
                                            <a href="/products/{{this.slug}}">
                                                <h5 class="card-title text-center">{{this.name}}</h5>
                                                <p class="card-text text-center">{{this.price}}</p>
                                                <p class="card-text text-center">{{category._id}}</p>
                                            </a>
                                            
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                        {{!-- {{/if}} --}}
                    </div>  
                </div>