<div class="mt-4 mb-5" style="position: relative;">
  <div>
    <h3>Tài khoản blacklist</h3>
    <a href="/me/stored/user">Danh sách tài khoản</a>
  </div>
    
    <table id="table-w" class="table mt-4">
        <thead>
            <tr>
                <th scope="col" style="min-width: 50px;">#</th>
                <th scope="col">Tên tài khoản</th>
                <th scope="col">Họ và tên</th>
                <th scope="col">Số điện thoại</th>
                <th scope="col">Địa chỉ email</th>
                <th scope="col">Thời gian tạo tài khoản</th>
            </tr>
        </thead>
        <tbody>
            {{#each user}}
            <tr>
                <td scope="row">{{sum @index 1}}</td>
                <td>{{this.username}}</td>
                <td>{{this.name}}</td> 
                <td>{{this.phonenumber}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="" class="btn btn-link btn-restore" data-id="{{this._id}}" style="text-decoration: none; color: black;">Khôi Phục</a>
                    <a href="" class="btn btn-Xoa" data-id="{{this._id}}" data-toggle="modal" data-target="#btnXoa-User-modal">Xóa vĩnh viễn</a>

                </td>
            </tr>
            {{else}}
            <tr>
              <td colspan="6" class="text-center">
                Danh sách trống.
                <a href="/me/stored/user">Danh sách tài khoản</a>
              </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
            <a href="/me"><button type="submit" class="button-w button-form">Back</button></a>
</div>

{{!-- Confirm delete product --}}
<div class="modal" id="btnXoa-User-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Bạn chắc chắn muốn xóa vĩnh viễn tài khoản?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-user" type="button" class="btn btn-danger">Xóa vĩnh viễn</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>


<form name="delete-user-form" method="POST" ></form>
<form name="restore-user-form" method="POST" ></form>

<script>
    
    document.addEventListener('DOMContentLoaded', function(){
        var userId;
        var deleteForm = document.forms['delete-user-form'];
        var restoreForm = document.forms['restore-user-form'];
        var btnDeleteProduct = document.getElementById('btn-delete-user');
        var restoreBtn = $('.btn-restore');

        // khi dialog confirm da clicked
        $('#btnXoa-User-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            userId = button.data('id');
         });

        //khi nut xoa khoa hoc duoc clicked
        btnDeleteProduct.onclick = function() {
            deleteForm.action = '/user/' + userId +'/force?_method=DELETE';
            deleteForm.submit();
        }
        // Restore btn clicked
        restoreBtn.click(function(e){
          e.preventDefault();

          var userId = $(this).data('id');
          restoreForm.action = '/user/' + userId +'/restore?_method=PATCH';
          restoreForm.submit();
        });
        console.log(restoreBtn)

    });

    
</script>