<div class="mt-4 mb-5" style="position: relative;">
    <div mb-2>
      <h3>Danh mục sản phẩm</h3>
      <a href="/me/trash/categorys" class="button-w button-action button-delete">Thùng rác ({{deletedCount}})</a>
    </div>
    <div class="mt-2">
      <a href="/categorys/create" class="button-w button-action button-add">Thêm danh mục sản phẩm</a>
    </div>
    <table id="table-w" class="table mt-4">
        <thead>
            <tr>
                <th scope="col" style="min-width: 50px;">#</th>
                <th scope="col">Tên danh mục</th>
                <th scope="col">Thời gian thêm</th>
                <th scope="col" >Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each categorys}}
            <tr>
                <td scope="row">{{sum @index 1}}</td>
                <td>{{this.name}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/categorys/{{this.slug}}/stored" class="button-w button-action button-add">Xem</a>
                    <a href="/categorys/{{this._id}}/edit" class="button-w button-action button-edit">Sửa</a>
                    <a href="" data-toggle="modal" data-id="{{this._id}}" data-target="#btnXoa-Product-modal" class="button-w button-action button-delete">Xóa</a>
                </td>
            </tr>
            {{else}}
            <tr>
              <td colspan="5" class="text-center">
                Bạn chưa thêm danh mục sản phẩm nào.
                <a href="/categorys/create">Thêm danh mục sản phẩm</a>
              </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
        <a href="/me"><button type="submit" class="button-w button-form">Back</button></a>
</div>

{{!-- Confirm delete course --}}
<div class="modal" id="btnXoa-Product-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Bạn chắc chắn muốn xóa danh mục sản phẩm này?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-product" type="button" class="btn btn-danger">Xóa</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete hidden form--}}
<form name="delete-product-form" method="POST" ></form>

<script>
    
    document.addEventListener('DOMContentLoaded', function(){
        var productId;
        var deleteForm = document.forms['delete-product-form'];
        var btnDeleteProduct = document.getElementById('btn-delete-product');


        // khi dialog confirm da clicked
        $('#btnXoa-Product-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            productId = button.data('id');
         });

        //khi nut xoa khoa hoc duoc clicked
        btnDeleteProduct.onclick = function() {
            deleteForm.action = '/categorys/' + productId +'?_method=DELETE';
            deleteForm.submit();
        }
    });

    
</script>